ul {
    margin: 0;
    padding: 0;
    list-style: none;
   
}

h2,h3,a {
    color: #34495e;
}

a {
    text-decoration: none;
}

.logo {
    margin: 0;
    font-size: 1.45em;
}

.main-nav{
    display: flex;
    margin-top: 5px;
}

nav {
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
}
nav a {
  margin-left: 12px;
}
nav .logo {
  margin-right: auto;
}

.loading {
    opacity: 0;
    transition: all 0.2s ease-in;
}
.loaded{
    opacity: 1;
    transition: all 0.2s ease-in;
}